<style>
		*{margin:0;padding:0;list-style:none;
            font-family:"microsoft yahei";
            text-decoration: none;}
        h1{color:red}


</style>

    <!--<h1><%= title %></h1>-->
    <!--<p>Welcome to <%= message %></p>-->

     <h1><%= title %></h1>
    <p>Welcome to <%= message %></p>




















